* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Alice";
  font-size: 14px;
}

body {
  font-family: "Alice";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus::-ms-input-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::placeholder {
  opacity: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 1140px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

body {
  background: #F8F6EB;
}

body._lock {
  overflow: hidden;
}

.page {
  overflow: hidden;
}

.blot-btn {
  padding: 20px 30px 20px 40px;
  background: url("../img/btn_bg.png") center center/100% 100% no-repeat;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: #F8F6EB;
  display: block;
  font-family: 'Gotham';
  -webkit-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  -o-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px 10px;
}

.menu__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  height: 100%;
  font-size: calc(16px + 4 * ((100vw - 992px) / (1920 - 992)));
}

.menu__item a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 calc(17px + 18 * ((100vw - 992px) / (1920 - 992)));
  color: #252525;
  -webkit-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  -o-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
}

.menu__logo {
  font-size: calc(35px + 10 * ((100vw - 320px) / (1920 - 320)));
  line-height: 125%;
}

.menu__logo a {
  opacity: 1 !important;
  color: #677A61;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.socials__item {
  font-size: 24px;
  padding: 0 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item a {
  color: rgba(39, 39, 39, 0.3);
  -webkit-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  -o-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
}

.socials__item:before {
  content: '';
  height: 11px;
  width: 1px;
  background: rgba(37, 37, 37, 0.3);
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.socials__item:last-child:before {
  display: none;
}

.title {
  font-weight: bold;
  font-size: calc(28px + 26 * ((100vw - 375px) / (1920 - 375)));
  font-family: 'Alegreya SC';
  text-align: center;
  margin: 0 0 40px 0;
  color: #50603F;
}

.title_strip {
  position: relative;
}

.title_strip span {
  position: relative;
  z-index: 1;
}

.title_strip:before {
  content: '';
  width: calc(100% + 10px);
  position: absolute;
  height: 10px;
  z-index: 0;
  bottom: calc(0px + 6 * ((100vw - 320px) / (1920 - 320)));
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #DDBC78;
}

.desc {
  font-family: 'Gotham';
  font-size: calc(13px + 7 * ((100vw - 320px) / (1920 - 320)));
  line-height: 177.3%;
  color: #272727;
}

.desc span {
  font-weight: bold;
}

.desc p {
  margin: 0 0 35px 0;
}

.desc p:last-child {
  margin: 0;
}

.desc_center {
  text-align: center;
}

.parallax {
  position: absolute;
  pointer-events: none;
}

.parallax img {
  width: 100%;
}

.select {
  position: relative;
}

.select input {
  display: none;
}

.select__current {
  cursor: pointer;
}

.select__current li {
  list-style: none;
  background: none;
  padding: 0;
  font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
}

.select__list {
  top: 100%;
  left: 15px;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  position: absolute;
  -webkit-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  -o-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  width: calc(100% - 30px);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select__option {
  cursor: pointer;
  background: #fff;
  padding: 7px 5px;
  border-bottom: 1px solid #50603F;
  color: #50603F;
  font-size: 18px;
  font-family: 'Gotham';
  -webkit-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  -o-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
}

.select__option:last-child {
  border-bottom: 0;
}

.select._active .select__list {
  opacity: 1;
  visibility: visible;
}

.arrow {
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F8F6EB;
  background: #F8F6EB;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  -o-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
}

.arrow svg line {
  -webkit-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  -o-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}

.pagination {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 30px;
  position: absolute;
  z-index: 2;
}

.pagination .swiper-pagination-bullet {
  margin: 0 7px;
  border-radius: 0;
  width: 10px;
  height: 10px;
  background: #F8F6EB;
  opacity: 1;
  position: relative;
}

.pagination .swiper-pagination-bullet-active:before {
  content: '';
  width: 16px;
  height: 16px;
  top: -3px;
  left: -3px;
  position: absolute;
  background: rgba(248, 246, 235, 0.6);
}

@media (min-width: 992px) {
  .blot-btn:hover,
  .blot-btn:focus {
    -webkit-filter: drop-shadow(0px 5px 10px rgba(165, 89, 60, 0.39));
            filter: drop-shadow(0px 5px 10px rgba(165, 89, 60, 0.39));
  }

  .menu__item a:hover,
  .menu__item a:focus {
    color: #F8F6EB;
    background: #E8985D;
  }

  .menu__logo a:hover {
    color: #677A61 !important;
  }

  .socials__item a:hover,
  .socials__item a:focus {
    color: #252525;
  }

  .select__option:hover {
    background: #F8F6EB;
  }

  .arrow:hover {
    background: #50603F;
  }

  .arrow:hover svg line {
    stroke: #F8F6EB;
  }
}

@media (max-width: 992px) {
  .menu {
    margin: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    height: auto;
    font-size: calc(20px + 5 * ((100vw - 375px) / (992 - 375)));
  }

  .menu__item a {
    padding: 12.5px 0;
  }

  .menu__logo a {
    font-size: 40px;
  }

  .socials__item {
    font-size: calc(25px + 10 * ((100vw - 320px) / (992 - 320)));
  }
}

@media (max-width: 991px) {
  .arrow {
    top: auto;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    bottom: 45px;
  }

  .pagination {
    bottom: 75px;
  }
}

@media (max-width: 768px) {
  .title {
    margin: 0 0 20px 0;
  }

  .arrow {
    width: 50px;
    height: 50px;
    bottom: 55px;
  }
}

.webp .blot-btn { background: url(../img/btn_bg.webp) center center/100% 100% no-repeat; }