.footer {
  padding: 45px 0 25px 0;
}

.footer__container {
  max-width: 1445px;
}

.footer__content {
  margin: 0 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__menu {
  margin: 0 0 15px;
  width: 100%;
}

.footer__menu .menu__list {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu .menu__item:first-child a {
  padding: 0 calc(17px + 18 * ((100vw - 992px) / (1920 - 992))) 0 0;
}

.footer__menu .menu__item:last-child a {
  padding: 0 0 0 calc(17px + 18 * ((100vw - 992px) / (1920 - 992)));
}

.footer__menu .menu__item a {
  opacity: 0.7;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials {
  margin: 0 -15px 20px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts a {
  margin: 0 40px 0 0;
  font-family: 'Gotham';
  font-size: calc(15px + 3 * ((100vw - 320px) / (1920 - 320)));
  color: #272727;
  font-weight: 500;
  opacity: 0.3;
  -webkit-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  -o-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__contacts a svg {
  margin: 0 10px 0 0;
}

.footer__contacts a:last-child {
  margin: 0;
}

.footer__copyright {
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(39, 39, 39, 0.3);
  padding: 20px 0 0 0;
  font-size: calc(15px + 5 * ((100vw - 320px) / (1920 - 320)));
  color: #272727;
}

.footer__copyright a {
  color: #272727;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .footer__menu .menu__item a:hover {
    color: #252525;
    opacity: 1;
    background: transparent;
  }

  .footer__contacts a:hover {
    opacity: 1;
  }

  .footer__copyright a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1050px) {
  .footer__menu .menu__item a {
    padding: 0 10px;
  }
}

@media (max-width: 992px) {
  .footer__menu {
    margin: 0 0 25px 0;
  }

  .footer__menu .menu__item:first-child a {
    padding: 20px 0;
  }

  .footer__menu .menu__item:last-child a {
    padding: 20px 0;
  }

  .footer__menu .menu__item a {
    padding: 20px 0;
    opacity: 1;
  }

  .footer__bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 575px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contacts a {
    margin: 0 0 15px 0;
  }
}