.welcome {
  height: 100vh;
  padding-bottom: 60px;
  position: relative;
}

.welcome__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1320px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.welcome__text {
  margin: 0 0 35px 0;
  text-align: center;
  padding: calc(30px + 30 * ((100vh - 320px) / (1080 - 320))) 50px;
  border: 15px solid #677A61;
  position: relative;
}

.welcome__text:before {
  content: '';
  width: 235px;
  height: 118px;
  position: absolute;
  top: -15px;
  left: -15px;
  border: 15px solid #F8F6EB;
  border-right: none;
  border-bottom: none;
}

.welcome__title {
  margin: 0 0 20px 0;
  color: #677A61;
  font-size: calc(30px + 90 * ((100vw - 375px) / (1920 - 375)));
  text-shadow: 0px 4px 10px rgba(103, 122, 97, 0.47);
  position: relative;
  z-index: 1;
}

.welcome__subtitle {
  color: #A5593C;
  font-size: calc(15px + 35 * ((100vw - 375px) / (1920 - 375)));
  position: relative;
  z-index: 1;
}

.welcome__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__cost {
  font-size: calc(20px + 10 * ((100vw - 320px) / (1920 - 320)));
  color: #50603F;
  font-family: 'Gotham';
  margin: 0 0 calc(10px + 15 * ((100vh - 720px) / (1080 - 720))) 0;
}

.welcome__cost span {
  font-weight: bold;
}

.welcome__btn {
  padding: 28px 87px 35px 96px;
  font-size: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  margin: 0 0 calc(10px + 15 * ((100vh - 720px) / (1080 - 720))) 0;
}

.welcome__next img {
  display: block;
  -webkit-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1) var(--i);
  -o-transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1) var(--i);
  transition: all 250ms cubic-bezier(0.37, 0, 0.63, 1) var(--i);
}

.welcome-parallax_1 {
  width: 235px;
  height: 118px;
  border: 20px solid #677A61;
  border-right: none;
  border-bottom: none;
  top: -35px;
  left: -44px;
}

.welcome-parallax_2 {
  top: 164px;
  left: 25px;
  width: calc(100px + 130 * ((100vw - 320px) / (1920 - 320)));
}

.welcome-parallax_3 {
  top: -54px;
  right: -71px;
  width: calc(130px + 300 * ((100vw - 320px) / (1920 - 320)));
}

.welcome-parallax_4 {
  bottom: -223px;
  left: -100px;
  width: calc(130px + (400 - 130) * ((100vw - 320px) / (1920 - 320)));
}

.welcome-parallax_5 {
  left: 115px;
  bottom: 150px;
  width: calc(126px + (390 - 126) * ((100vw - 320px) / (1920 - 320)));
}

.welcome-parallax_6 {
  right: -100px;
  bottom: 150px;
  width: calc(140px + 190 * ((100vw - 320px) / (1920 - 320)));
}

.welcome__plant {
  position: absolute;
}

.welcome__plant_1 {
  top: 100%;
  right: 165px;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  width: calc(50px + 75 * ((100vw - 320px) / (1920 - 320)));
}

.welcome__plant_2 {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  top: 50px;
  left: calc(100% + 10px);
  width: calc(100px + 150 * ((100vw - 320px) / (1920 - 320)));
}

@media (min-width: 992px) {
  .welcome__next:hover img {
    -webkit-transform: translate(0, 7px);
        -ms-transform: translate(0, 7px);
            transform: translate(0, 7px);
  }
}

@media (max-width: 992px) {
  .welcome__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .welcome__content {
    -webkit-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  .welcome__text {
    padding: calc(30px + 20 * ((100vw - 320px) / (992 - 320))) calc(10px + 20 * ((100vw - 320px) / (992 - 320)));
  }

  .welcome-parallax_2 {
    top: 50px;
  }

  .welcome-parallax_3 {
    top: 20px;
    right: -50px;
  }

  .welcome-parallax_4 {
    bottom: -120px;
    left: -50px;
  }

  .welcome-parallax_5 {
    left: 20px;
    bottom: 20px;
  }

  .welcome-parallax_6 {
    right: -20px;
    bottom: 20px;
  }

  .welcome__plant_1 {
    right: 50px;
  }

  .welcome__plant_2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .welcome__container {
    padding: 0 10px;
  }

  .welcome__text {
    border: 10px solid #677A61;
  }

  .welcome__text:before {
    top: -10px;
    left: -10px;
    border: 10px solid #F8F6EB;
    width: 150px;
    height: 70px;
  }

  .welcome__btn {
    padding: 15px 50px 20px;
  }

  .welcome-parallax_1 {
    border: 13px solid #677A61;
    border-right: none;
    border-bottom: none;
    width: 150px;
    height: 70px;
    top: -25px;
    left: -25px;
  }

  .welcome__plant_1 {
    top: auto;
    bottom: 100%;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
  }
}

@media (max-width: 425px) {
  .welcome__text {
    border: 5px solid #677A61;
  }

  .welcome-parallax_1 {
    border: 7px solid #677A61;
    border-right: none;
    border-bottom: none;
    top: -15px;
    left: -15px;
  }
}

@media (max-height: 720px) {
  .welcome__cost {
    margin: 0 0 10px 0;
  }

  .welcome__btn {
    margin: 0 0 10px 0;
  }
}